{
	"Rules" : 
	[
		{
			"Action" : 1,
			"ApplicationName" : "QwA6AFwAVwBpAG4AZABvAHcAcwBcAFMAeQBzAHQAZQBtADMAMgBcAG0AcwB0AHMAYwAuAGUAeABlAAAA",
			"Description" : "AAA=",
			"Direction" : 2,
			"EdgeTraversal" : false,
			"Enabled" : true,
			"Grouping" : "AAA=",
			"IcmpTypesAndCodes" : "AAA=",
			"InterfaceTypes" : "QQBsAGwAAAA=",
			"Interfaces" : "AAA=",
			"LocalAddresses" : "KgAAAA==",
			"LocalPorts" : "KgAAAA==",
			"Name" : "UgBEAFMAIABTAFQAQQBUAEkATwBOAAAA",
			"Profiles" : 2147483647,
			"Protocol" : 6,
			"RemoteAddresses" : "MQA5ADIALgAxADYAOAAuADUAMAAuADAALwAyADUANQAuADIANQA1AC4AMgA1ADUALgAwAAAA",
			"RemotePorts" : "MwAzADgAOQAAAA==",
			"ServiceName" : "AAA="
		},
		{
			"Action" : 1,
			"ApplicationName" : "QwA6AFwAVwBpAG4AZABvAHcAcwBcAFMAeQBzAHQAZQBtADMAMgBcAG0AcwB0AHMAYwAuAGUAeABlAAAA",
			"Description" : "AAA=",
			"Direction" : 2,
			"EdgeTraversal" : false,
			"Enabled" : true,
			"Grouping" : "AAA=",
			"IcmpTypesAndCodes" : "AAA=",
			"InterfaceTypes" : "QQBsAGwAAAA=",
			"Interfaces" : "AAA=",
			"LocalAddresses" : "KgAAAA==",
			"LocalPorts" : "KgAAAA==",
			"Name" : "UgBEAFMAIABCAFIATwBLAEUAUgAAAA==",
			"Profiles" : 2147483647,
			"Protocol" : 6,
			"RemoteAddresses" : "MQA5ADIALgAxADYAOAAuADEAMAAwAC4AMQAwADUALwAyADUANQAuADIANQA1AC4AMgA1ADUALgAyADUANQAsADEAOQAyAC4AMQA2ADgALgAxADAAMAAuADEAMAA3AC8AMgA1ADUALgAyADUANQAuADIANQA1AC4AMgA1ADUAAAA=",
			"RemotePorts" : "MwAzADgAOQAAAA==",
			"ServiceName" : "AAA="
		},
		{
			"Action" : 1,
			"ApplicationName" : "AAA=",
			"Description" : "AAA=",
			"Direction" : 2,
			"EdgeTraversal" : false,
			"Enabled" : true,
			"Grouping" : "AAA=",
			"IcmpTypesAndCodes" : "AAA=",
			"InterfaceTypes" : "QQBsAGwAAAA=",
			"Interfaces" : "AAA=",
			"LocalAddresses" : "KgAAAA==",
			"LocalPorts" : "KgAAAA==",
			"Name" : "VgBQAE4AAAA=",
			"Profiles" : 2147483647,
			"Protocol" : 6,
			"RemoteAddresses" : "OQAzAC4AMQA1ADcALgA1ADkALgAyADQAOQAvADIANQA1AC4AMgA1ADUALgAyADUANQAuADIANQA1AAAA",
			"RemotePorts" : "NAA0ADMAAAA=",
			"ServiceName" : "AAA="
		},
		{
			"Action" : 1,
			"ApplicationName" : "AAA=",
			"Description" : "AAA=",
			"Direction" : 2,
			"EdgeTraversal" : false,
			"Enabled" : true,
			"Grouping" : "AAA=",
			"IcmpTypesAndCodes" : "AAA=",
			"InterfaceTypes" : "QQBsAGwAAAA=",
			"Interfaces" : "AAA=",
			"LocalAddresses" : "KgAAAA==",
			"LocalPorts" : "KgAAAA==",
			"Name" : "RABIAEMAUAAAAA==",
			"Profiles" : 2147483647,
			"Protocol" : 17,
			"RemoteAddresses" : "KgAAAA==",
			"RemotePorts" : "NgA3ACwANgA4AAAA",
			"ServiceName" : "AAA="
		},
		{
			"Action" : 1,
			"ApplicationName" : "AAA=",
			"Description" : "AAA=",
			"Direction" : 2,
			"EdgeTraversal" : false,
			"Enabled" : true,
			"Grouping" : "AAA=",
			"IcmpTypesAndCodes" : "AAA=",
			"InterfaceTypes" : "QQBsAGwAAAA=",
			"Interfaces" : "AAA=",
			"LocalAddresses" : "KgAAAA==",
			"LocalPorts" : "KgAAAA==",
			"Name" : "RABOAFMAIABPAFUAVAAgAFUARABQAAAA",
			"Profiles" : 2147483647,
			"Protocol" : 17,
			"RemoteAddresses" : "KgAAAA==",
			"RemotePorts" : "NQAzAAAA",
			"ServiceName" : "AAA="
		},
		{
			"Action" : 1,
			"ApplicationName" : "AAA=",
			"Description" : "AAA=",
			"Direction" : 2,
			"EdgeTraversal" : false,
			"Enabled" : true,
			"Grouping" : "AAA=",
			"IcmpTypesAndCodes" : "AAA=",
			"InterfaceTypes" : "QQBsAGwAAAA=",
			"Interfaces" : "AAA=",
			"LocalAddresses" : "KgAAAA==",
			"LocalPorts" : "KgAAAA==",
			"Name" : "RABOAFMAIABPAFUAVAAgAFQAQwBQAAAA",
			"Profiles" : 2147483647,
			"Protocol" : 6,
			"RemoteAddresses" : "KgAAAA==",
			"RemotePorts" : "NQAzAAAA",
			"ServiceName" : "AAA="
		}
	],
	"domainBlockAllInboundTraffic" : false,
	"domainDefaultInboundAction" : 0,
	"domainDefaultOutboundAction" : 0,
	"domainProfileEnabled" : true,
	"privateBlockAllInboundTraffic" : false,
	"privateDefaultInboundAction" : 0,
	"privateDefaultOutboundAction" : 0,
	"privateProfileEnabled" : true,
	"publicBlockAllInboundTraffic" : false,
	"publicDefaultInboundAction" : 0,
	"publicDefaultOutboundAction" : 0,
	"publicProfileEnabled" : true
}
